PUSHOVER_USER=''
PUSHOVER_TOKEN=''
MAPBOX_ACCESS_TOKEN=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_DEFAULT_REGION='us-east-1'
S3_BUCKET='sbma44'
S3_PATH='traccar/'
MQTT_SERVER='127.0.0.1'
MQTT_PORT=1883
MQTT_TOPIC='traccar/'
ETA_HOME_LOCATION=(-84.516, 39.0952)
ETA_CHECK_INTERVAL=59